
.parentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #f0f0f0;
}

.header {
  height: 25%;
  width: 100%;
  color :var(--grey-color); 
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center;
  font-size: 1.3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  
}



.form {
	height: 65%;
  width: 100%;
	/* background-color: red;	 */
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5%;
	justify-content:flex-start;
	padding: 5%;
}

.cell {
	width: 90%;
}

.footer {
	width: 100%;
	background-color: whitesmoke;
	height: 9%;
	bottom: 0;
	position: fixed;
	border-radius: 10px 10px 0px 0px; 
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 10px 10px 20px 15px rgba(0, 0, 0, 0.3);
}

.innerText {
	width: 100%;
	height: 70%;
	font-size: 20px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	display: flex;
	justify-content: center;
	gap: 5%;
	align-items: center;
}

.checkboxdiv {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
}

.question {
  font-size: 0.8em;
}